.main-container {
    background-image: url(../images/rana-sawalha-364253-unsplash.jpg);
    background-size: cover;
    height: 100%;
    padding-bottom: 65px;
}


header {
    height: 60px;
    background: rgba(0, 0, 0, 0.45);
    color: #ffffff;
    margin-bottom: 65px;
}

.top-content {
    height: 20px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 75px;
    padding-bottom: 20px;
}

.text-logo {
    display: inline-block;
    float: left;
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.right-nav {
    display: inline-block;
    float: right;
    width: 375px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.login-text {
    padding-left: 25px;
    border-left: 2px solid;
}

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.sprite:hover {
    background-image: url(../images/spritesheet-hover.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}

a:hover {
    color: #3cb878;
}

.sprite-ic_caledar {
    margin-right: 25px;
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-ic_forum {
    margin-right: 25px;
    width: 28px;
    height: 20px;
    background-position: -34px -5px;
}

.sprite-ic_journey {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    background-position: -72px -5px;
}

.form {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 444px;
    height: 584px;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 1);
}


.sign-up {
    font-family: Verdana;
    float: left;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.log-in {
    font-family: Verdana;
    float: right;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

.top-text {
    height: 20px;
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 15px;
}

.buttons {
    margin-bottom: 73px;
    margin-right: 60px;
    margin-left: 60px;
}


.button-1 {
    position: absolute;
    left: 0;
    display: block;
    border-radius: 5px;
    background-color: #305db8;
    width: 117px;
    height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-1:hover {
    position: absolute;
    left: 0;
    display: block;
    border-radius: 5px;
    background-color: #305db8;
    width: 117px;
    height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);

}

.f-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    float: right;
}

.button-2 {
    position: absolute;
    right: 0;
    display: block;
    border-radius: 5px;
    background-color: #df4a32;
    width: 117px;
    height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-2:hover {
    position: absolute;
    right: 0;
    display: block;
    border-radius: 5px;
    background-color: #df4a32;
    width: 117px;
    height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);
}

.g-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin: 0 auto;
    float: right;
}

.buttons {
    position: relative;
}


.or-line {
    display: block;
    font-family: Verdana;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-bottom: 5px;
}

.terms-conditions {
    text-decoration: underline;
    color: #3cb878;
}

a.terms-conditions:active {
    color: #3cb878;
}

a.terms-conditions:visited {
    color: #3cb878;
}

a.terms-conditions:hover {
    color: #3cb878;
}

.agree {
    display: block-inline;
    margin-bottom: 30px;
}

form {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-top: 10px;
}

.account-info input {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 302px;
    height: 46px;
    border: 1px solid #c6c7cc;
    padding-left: 20px;
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.account-info input:focus {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

}

.input-agree {
    width: 18px;
    height: 18px;
}

.text-agree {
    font-family: Verdana;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.btn-login {
    display: block;
    height: 46px;
    width: 322px;
    background-color: #3cb878;
    border: 0px solid;
    border-radius: 5px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.btn-login:hover {
    display: block;
    height: 46px;
    width: 322px;
    background-color: #3cb878;
    border: 0px solid;
    border-radius: 5px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.forms {
    position: relative;
    margin: 0 auto;

}

.shape {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    top: 145px;
}
